@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap')
layer(base);

@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
  --animate-slide-in-down: slideInDown 0.5s;

  --color-dark: hsl(215, 15%, 16%);
  --color-dark-input: hsl(220, 16%, 15%);
  --color-dark-focus: hsl(215, 15%, 16%);
  --color-dark-gray: hsl(210, 32%, 85%);
  --color-dark-line: hsl(214, 13%, 25%);
  --color-dark-line-lighter: hsl(208, 13%, 30%);
  --color-pizza: hsl(29, 100%, 52%);
  --color-pizza-dark: hsl(331, 94%, 52%);

  --font-anton: Anton, sans-serif;
  --font-merriweather: Merriweather, serif;
  --font-roboto-mono: Roboto Mono, sans-serif;
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
}

@utility contact-close {
  @apply ring-pizza dark:bg-pizza-dark dark:ring-pizza-dark dark:ring-offset-dark absolute -top-4 -right-4 h-10 w-10 cursor-pointer rounded-full bg-white ring-2 ring-offset-2;
}

@utility text-pop {
  @apply from-pizza dark:from-pizza-dark bg-linear-to-r to-amber-400 bg-clip-text px-1 text-transparent dark:bg-linear-to-r dark:to-indigo-500 dark:p-0;
}

@utility button-pizza {
  @apply bg-pizza hover:ring-pizza/80 dark:bg-pizza-dark dark:hover:ring-pizza-dark/80 dark:hover:ring-offset-dark cursor-pointer rounded-md px-4 py-3 text-white shadow-md hover:ring-4 hover:ring-offset-2;
}

@utility form-pizza {
  @apply focus:border-pizza dark:border-dark-line dark:focus:border-pizza-dark rounded-md border border-gray-200 bg-white p-2 text-lg leading-6 text-gray-500 focus:bg-white focus:ring-4 focus:ring-[#ff810a]/25 focus:outline-hidden sm:text-sm dark:bg-[#1f232b]/50 dark:text-gray-50 dark:focus:bg-[#22272e] dark:focus:ring-[#f81281]/50;
}

@utility form-pizza-error {
  @apply rounded-md border border-red-400 bg-white p-2 text-lg leading-6 text-gray-500 focus:border-red-500 focus:ring-4 focus:ring-red-400/25 focus:outline-hidden sm:text-sm dark:border-[#fd6f6e] dark:bg-[#1f232b]/50 dark:text-gray-50 dark:focus:border-[#ff7070] dark:focus:bg-[#22272e] dark:focus:ring-[#ff7070]/20;
}

@utility text-shadow {
  text-shadow:
    0 1px 3px #1f232b,
    0 2px 30px #1f232b;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[x-cloak] {
    display: none !important;
}

html {
    @apply scroll-smooth;
}

body {
    @apply dark:bg-dark;
}

/*Torchlight*/
pre {
    @apply my-4 overflow-x-auto rounded-sm dark:bg-[#282c34]!;
}

pre code.torchlight {
    @apply block min-w-max py-4;
}

pre code.torchlight .line {
    @apply px-4;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

.torchlight.has-focus-lines .line:not(.line-focus) {
    transition:
        filter 0.35s,
        opacity 0.35s;
    filter: blur(0.095rem);
    opacity: 0.65;
}

.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}

.torchlight summary:focus {
    outline: none;
}

/* Hide the default markers, as we provide our own */
.torchlight details > summary::marker,
.torchlight details > summary::-webkit-details-marker {
    display: none;
}

.torchlight details .summary-caret::after {
    pointer-events: none;
}

/* Add spaces to keep everything aligned */
.torchlight .summary-caret-empty::after,
.torchlight details .summary-caret-middle::after,
.torchlight details .summary-caret-end::after {
    content: ' ';
}

/* Show a minus sign when the block is open. */
.torchlight details[open] .summary-caret-start::after {
    content: '-';
}

/* And a plus sign when the block is closed. */
.torchlight details:not([open]) .summary-caret-start::after {
    content: '+';
}

/* Hide the [...] indicator when open. */
.torchlight details[open] .summary-hide-when-open {
    display: none;
}

/* Show the [...] indicator when closed. */
.torchlight details:not([open]) .summary-hide-when-open {
    display: initial;
}
